
<!DOCTYPE html>
<html lang="en">
<head>
   
  <title>Bootstrap Example</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <style>
      @font-face { font-family: 'Atomy-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/Atomy-Bold.woff') format('woff'); font-weight: normal; font-style: normal; }
      * {font-family: 'Atomy-Bold';}
      * {background-color:linen;}
      body{
        background-color:linen;
      }
      .container {margin-top: 70px;margin-right:80px}
     
  </style>
</head>

<body>
   

<form method = 'POST'> {% csrf_token %}
            <div class="container">
                
                <h1>{{board.title}}</h1>
                
                <p>{{board.update_date|date:"Y년 m월 d일 P"}} |  조회수:{{ board.hits }}</p> 
                <hr>
                <br>
                <p> {{board.body}}</p>
                {% if board.photo %}
                <img src="{{ board.photo.url }}">
                {% endif %}

                <br>
                <br>
                <span id="qBtn"><button type="button" class="btn btn-outline-danger" onclick="location.href='{% url 'show' %}'">뒤로</button>
                    <button type="button" class="btn btn-outline-danger" onclick="location.href='{% url 'edit' pk=board.pk %}'">글 수정</button>
                    <button type="button" class="btn btn-outline-danger" onclick="location.href='{% url 'delete' pk=board.pk %}'">삭제</button>
            </div>

            {{board.update_counter}}
    
</form>   

</body>
</html> 


</div>

<br><br>

<!--댓글쓰기 폼-->
<div class="container">
    <h5 class="card-header">댓글</h5>
    <div class="card-body"></div>
        <form method="POST" action="comment/write/">
        {% csrf_token %}
        <textarea rows="5" cols="80" name="content">

        </textarea>
        <br><br>
    
        <button type="submit" class="btn btn-primary">등록</button>

        </form>
    </div>
</div>
 

<!--댓글 목록을 출력할 영역-->
{% for comment in board.comments.all %}
<div class="container">
<div class="comment_body">
        <h5>{{comment.content}}</h5>
        <small>{{comment.created_at|date:"Y년 m월 d일 P"}}</small>
       
        <button type="button" class="btn btn-outline-danger" onclick="location.href='{% url 'comment_edit' board.pk comment.pk %}'">수정</button>
        

</div>
</div>

{% endfor %}
<br>
<br>
<br>
<br>