<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Duksung</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
    <!-- for문입력 -->
        <div class="card">
            <a href="#">
            <div class="card-body">
              <!-- 여기에 학번,학과,이름 그리고 업로드 시간 입력 -->
            </div>
            </a>
        </div>
    <!-- endfor -->
    </div>
</body>
</html>